body {
    background-color: black;
    margin: 0px;
}
.Main {
    background-color: black;
    z-index: 0;
}
#navBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 85vh;
    left: 90vw;
    width: 5vw;
    aspect-ratio: 1/1;
    z-index: 100;
}
#navBar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    z-index: 1;
    transition: width 200ms, height 200ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#navBar:hover{
    width: 120%;
    height: 120%;
}
#navBar:active{
    width: 90%;
    height: 90%;
}
.navButton {
    visibility: hidden;
    position: absolute;
    transition-duration: 1s;
    transition-property: transform, width;
    width: 100%;
    height: 40%;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: blue;
    font: larger "times-new-roman"; 
}
.navButton:hover {
    background-color: #010191;
}
.Title{
    display: flex;
    margin : 0px;
    color : lime;
    height : 100svb;
    width : 100%;
    align-items: center;
    justify-content: center;
    z-index:0;
}   
#Title  {
    position: relative; 
    z-index: 3;
}
.part {
    height : 80vh;
    width: 100%;
    border-top: solid white 3px;
    z-index: 0;
    z-index: 2;
    position: relative;
}
.part.first{
    display: flex;
    align-items: center;
    justify-content: left;
}
.container.first{
    transform: translateX(10%);
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card.first {
    position : absolute;
    width : 20vw;
    background-image: linear-gradient(
        rgba(0, 255, 0, 0.4) 0px,
        rgba(0, 255, 0, 0.4) 3px,
        black 4px,
        black 9px
    );
    animation: cardBack 22s infinite linear;
    background-size: 100% 10px;
    aspect-ratio: 7/11;
    transform: translateX(70vw) rotate(20deg); 
    border: solid lime 1px;
    border-radius: 4%;
    text-align: center;
    transition : 1s;
}
.cardText {
    color: lime;
}
.card.first:hover {
    transform: translateX(70vw) rotate(-10deg);
    width : 23vw;
}
@keyframes cardBack {
    from {background-position-y: 0%;}
    to {background-position-y: -100%;}
}
.cursorEffect{
    width : 15vw;
    filter: blur(20vw);
    aspect-ratio: 1/1;
    position : fixed;   
    background-image: conic-gradient(lime, blue, blue,lime);
    border-radius: 100%;
    z-index: 1;
    translate: -50% -50%;
    animation: cursorEffectRotation 15s infinite;
}
@keyframes cursorEffectRotation {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}
#open {
    background-color: #060661;
    width : 101vw;
    height : 101vh;
    position: fixed;
    z-index: 101;
    transition: 1s  cubic-bezier(.45,.21,.49,.8) transform;
}
#openlogo {
    width: 10vw;
    aspect-ratio: 1/1;
    background: url('letter-y10.png') no-repeat center;
    background-size: contain;
    filter: hue-rotate(-120deg);
    position: fixed;
    transform: translate(40vw, 40vh);
}
#openLogoCover {
    width: 15vw;
    aspect-ratio: 1/1;
    position: fixed;
    z-index: 1;
    background-color: #060661;
    transform: translate(50vw, 40vh);
}

@media only screen and (max-width: 1000px) {
    #navBarContainer {
        left: 30vw;
        bottom: -20vw;
        top: auto;
        width: 40vw;
        height: 40vw;
    }
    #navBar:hover, #navBar:active {
        width: 45vw;
        height: 45vw;
    }
    .navButton {
        font-size: xx-large;
    }
    .part.first{
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }
    .card.first{
        transform: translate(0,70%) rotate(20deg);
        height: 35vh;
        aspect-ratio: 7/11;
        width: auto;
    }
    .card.first:hover, .card.first:active {
        transform: translate(0,70%) rotate(-10deg);
        height : 40vh;
        width: auto;
    }


}